In [27]:
import numpy as np
import pandas as pd
import seaborn as sns

# to create synthetic data
from sklearn.datasets import make_blobs

# Visualization package import

# imports for modeling and evaluation
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

In [28]:
# creating random number generator
rng = np.random.default_rng(seed=44)

In [29]:
centers = rng.integers(low=3, high=7) # 4,5 or 6
# creating synthetic data with unknown number of clusters
X, y = make_blobs(n_samples=1000, n_features=6, centers=centers, random_state=42)

In [30]:
X = pd.DataFrame(X)
X.head()

          0         1         2         3         4          5
0 -1.534288  5.467808 -6.945988  1.403934  1.553836  -7.618236
1 -6.681020  6.717808  2.764396  4.460744 -8.286569  10.959708
2 -8.678310  7.825306  3.139699  5.609951 -9.948079   8.072149
3 -6.667385  7.147637  2.145505  4.712937 -9.544708  11.093248
4 -2.753835 -4.209968  0.620345 -7.439505 -4.405723  -2.046149